name: Go

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
        go-version: [1.18]
        redis-version: [5, 6]

    steps:
      - uses: actions/checkout@v3

      - name: Start Redis (NOTICE THIS STEP ONLY SUPPORTS LINUX)
        uses: supercharge/redis-github-action@1.4.0
        with:
          redis-version: ${{ matrix.redis-version }}

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}

      - name: Build
        run: go build -v ./...

      - name: setup envs on Windows
        if: runner.os == 'Windows'
        run: echo "GMQ_RDS=$env:redis://localhost:6379/14?dial_timeout=1s&read_timeout=1s&max_retries=1" >> $env:GITHUB_ENV

      - name: setup envs on Unixlike
        if: runner.os != 'Windows'
        run: echo "GMQ_RDS=redis://localhost:6379/14?dial_timeout=1s&read_timeout=1s&max_retries=1" >> $GITHUB_ENV

      - name: Test
        run: go test -v ./...
